{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reader.css') }}">
{% endblock %}

{% block body_attributes %}class="reader-page {{ body_classes }}" style="{{ style_vars }}"{% endblock %}

{% block content %}
<div class="container py-4">
    <div id="book-content">
        {{ book_content | safe }}
    </div>
</div>

<a href="/profile/{{ user_id }}" class="btn-exit">← Выйти</a>

<script>
    document.body.className = "reader-page {{ body_classes }}";
</script>
{% endblock %}