{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body p-4 p-md-5">
                <h1 class="mb-4 text-center display-5">Регистрация</h1>
                <form method="POST" action="/register">
                    <div class="mb-4">
                        <label for="username" class="form-label form-label-lg fs-5">Имя пользователя</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label form-label-lg fs-5">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg w-100 py-2">Зарегистрироваться</button>
                    <a href="/login" class="btn btn-link w-100 text-center mt-3 fs-5">Уже есть аккаунт? Войти</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}